<td>
  <ul class="badge">
    <div class="badge" data-background="<%= badge.pic_url %>">
      <div class="badge-text">
        <%= content_tag :li, badge.title, class: "badge-title" %>
        <%= content_tag :li, badge.description, class: "badge-conditions" %>
      </div>
    </div>
  </ul>
</td>
