<h1><%= t('.header') %></h1>
<br>

<table>
  <tr>
    <%= render @badges %>
  </tr>
  <div class="badge-row">
    <tr>
      <%= render @badges_rules %>
    </tr>
  </div>
  <tr>
    <h2><%= "Доступные для получения бэйджи" %></h2>
  </tr>
</table>
