<h1>Test <%= @test_passage.test.title %> was completed!</h1>

<p>
  <h1>Result:</h1>
  <h2 style="color:<%= result_color %>;"><%= result_text %> with <%= @test_passage.test_passage_result %>% correct answers</h2>
</p>
