<div>
  <h3>Now you can create, edit and delete tests with questions, web interface is cool!</h3>
  <table>
    <tr>
      <td><%= github_url('Test Guru', 'https://github.com/MaxSandulsky/TestGuru') %></td>
      <td><%= github_url('Maxim Sandulsky', 'https://github.com/MaxSandulsky') %></td>
    </tr>
    <tr>
      <td><%= current_year %></td>
      <td><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %></td>
    </tr>
  </table>
</div>
