<ul class="menu hide">
  <li class="menu-list nav-user"><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
  <li class="menu-list nav-user"><%= link_to t('.badges'), badges_path %></li>
</ul>
