<div class="nav nav-user">
  <span class="nav-user title"><%= link_to 'TestGuru', tests_path %></span>

  <div class="nav-user user">
    <%= nav_registration %> Guru |
    <%= nav_logout %>
  </div>
</div>
