<p class="nav title"><%= link_to 'TestGuru', tests_path %></p>

<p class="nav user"><%= nav_user %></p>

<p class="nav logout"><%= nav_logout %></p>

<p class="nav logout"><%= nav_registration %></p>
