.menu {
  list-style-type: none;
  align-self: auto;
  width: 250px;
}

.menu
a {
  color: #fff
}

.menu-list {
  text-align: center;
  font-size: 16px;
  border: 2px solid;
  border-color: Gray;
  border-radius: 4px;
  padding: 4px;
}
