.title
a {
  color: #ffffff
}

.nav {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 16px;
}

.nav-admin {
  background-color: #4293e6;
}

.nav-user {
  background-color: #c71585;
}

.title {
  text-align: left;
  font-size: 140%;
  font-weight: bold;
}

.nav-user
a:visited {
  color: #ffffff;
}

.nav-admin
a:visited {
  color: #ffffff;
}

.user {
  float: right;
  text-align: right;
}
