<h1>Test <%= @test.title %></h1>

<%= render 'shared/errors', resource: @test %>

<table>
  <tbody>
    <%= render @test.questions %>
  </tbody>
</table><br>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
